body{
    background-color: hsl(240, 91%, 8%);
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    
}
.header{
    
    font-family: "Borel", cursive;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    padding: 30px 10px;
    border-radius: 5px;
    color: hsl(240, 91%, 8%);
    background-color: rgb(141, 187, 201);
    box-shadow: 0px 2px 2px rgb(169, 203, 209);
   
}
.list{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   padding: 10px;
   gap:10px;
}
.list input{
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: beige;
    width: 50%;
    margin:10px ;
}
.btn{
    border-radius: 6px;
    padding: 10px;
    background-color: rgb(245, 245, 227);
    border: none;
    margin:8px 4px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0px 2px 4px rgb(175, 175, 155);
    color: rgb(32, 107, 150);
}
.btn:hover{
    background-color: white;
   

}
#to-do-list::placeholder{
    color:rgb(32, 107, 150) ;
    font-size: 16px;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.list input{
    font-size: 18px;
}
.added-things{
     font-size: 20px;
    color: rgb(5, 5, 48);
    padding: 10px;
    margin: 10px auto;
    width: 70%;
    max-height: 60vh;
    overflow-y: auto;
    border-radius: 5px;
    list-style:none;
   
}

.task-item{
    margin: 8px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
    font-size: 18px;
    background: linear-gradient(45deg,#a9d7df,#8c8cb6,#468096,#2d7061);
    
}
.done{
    text-decoration:line-through;
    opacity: 0.6;
    
}
.delete-btn{
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
@media(max-width:600px){
    .list{
        flex-direction: column;
         align-items: center;
         list-style-type:circle;
    }
    .list input, .btn{
      width: 80%;
    }
}

