@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Roboto;
}
.outer h1{
color:rgb(30, 95, 233);
margin-bottom: 0px;
}
.outer p{
    margin-top: 0px;
    margin-right: 40px
}

.container{
    background-color: white;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgb(0,0,0,0,0.05);
    width: 25%;
   
    
}
.input input{
    padding: 8px;
    width: 90%;
    margin:4px 4px;
    border-radius: 5px;
    border: 1px solid rgb(121, 120, 120);
}
.submit button{
    width: 100%;
    background-color:rgb(30, 95, 233) ;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
   
}
.anchor a{
text-decoration: none;
font-size: 12px;
margin-left: 150px;
margin-top: 15px;
}
.anchor{
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}
.signup button{
    border: none;
    padding: 8px;
    color: white;
    border-radius: 5px;
    background-color: green;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 140px;
    height: 40px;
    
}


